<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FishFilms</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&family=Abel&display=swap" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="nav">
				<img src="img/logo.png" class="logo">
				<a href="1">FishFilms</a>
				<ul class="menu">
						<li>
							<a href="directors">
								Directors
							</a>
						</li>
						<li>
							<a href="films">
								Films
							</a>
						</li>
						<li>
							<a href="profile">
								Profile
							</a>
						</li>
						<li>
							<a href="login">
								Log In
							</a>
						</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="info">
		<div class="film">Blade Runner 2049</div>
		<div class="director">Denis Villeneuve</div>
	</div>
</body>